<h1>InterPolation </h1>

<h1>{{person.name}}</h1>


<p>{{person.age}}</p>


stirng Concatination 
<p>{{"i am a"+ person.role}}</p>



Calculations 
{{5+5}}  


built in js method 
<h1>{{person.name.length +" total length"}}</h1>
<h1>{{person.name.toUpperCase()}}</h1>
<h1>{{person.name.toLowerCase()}}</h1>
<h1>{{person.name.includes("s")}}</h1>

5. Display Method Reslut 
{{calcualteTotal()}}
 <br>
 <br>
tax 
{{calculateTax().toFixed(2)+"%"}}

<br>
 <br>
ternary operator 
<br>
<button>{{editMode ? "add" : "update"}}</button>